* {
  font-family: 'Poppins', sans-serif;
}


/************************** COLOURS **************************/
:root {
  --primary-white: #fff;
  --navbar-blue: #0a043c;
  --primary-green: #27ae60;
  --primary-yellow: #ffd369;
}



/************************** SCROLL BAR **************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292b2c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #292b2c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27ae60; 
}


/************************** NAVBAR **************************/

nav {
  z-index: 2;
}

.navbar-custom { 
  background-color: var(--navbar-blue);
} 

nav a.nav-link {
  font-size: 0.9rem;
  font-weight: 575 !important;
  cursor: pointer;
 }

 nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 1.5rem;
  margin-left: 0rem;
  color: var(--primary-white) !important;
  border-bottom: 0.15rem solid var(--navbar-blue);
}

.navbar-brand {
  color: var(--primary-yellow) !important;
  font-size: 1.5rem !important;
  font-weight: bold;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 2.5rem;
  margin-left: 0rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 0.15rem solid var(--primary-green);
  transition: 0.2s ease-in-out;
  color: var(--primary-yellow) !important;
  }
  
  .navbar-nav > li > a:hover {
    border-bottom: 0.15rem solid var(--primary-green);
    transition: 0.2s ease-in-out;
    /* color: #eeeeee !important; */
  }

/************************** HEADER **************************/

.header-wraper {
  position: relative;
  background: url(img3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.main-info h1 {
  color: var(--primary-white);
  font-weight: bolder;
  font-size: 50px;
}

.btn-main-offer {
  border: 1px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 0%;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  display: inline-block;
  margin-left: 6px;
  width: 200px;
  margin-bottom: 0px;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--navbar-blue);
  transition: 0.8s ease-in-out;
  color: var(--primary-yellow);
  border: 1px solid var(--primary-green);
}

.header-icon {
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 25px;
  color: #e8e8e8;
}

.header-icon:hover{
  color: var(--primary-white);
  transition: 0.5s ease-in-out;
}

.headerdiv {
  height: 150px;
}


.typed-text {
  font-size: 1.75em;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
  }
  .typed-text {
    font-size: 1rem !important;
  }
  }



/************************** ABOUT **************************/


.about {
  /* height: 60vh; */
  background-color: var(--navbar-blue);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.about-heading {
    color: #27ae60;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .about-text {
    color: var(--primary-yellow);
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 2;
  }
