* {
  font-family: 'Poppins', sans-serif;
}


/************************** COLOURS **************************/
:root {
  --primary-white: #fff;
  --navbar-grey: #252525;
  --primary-green: #27ae60;
  --primary-yellow: #ffd369;
}



/************************** SCROLL BAR **************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292b2c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #27ae60; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27ae60; 
}


/************************** NAVBAR **************************/

.navbar-custom { 
  background-color: var(--navbar-grey);
} 

nav a.nav-link {
  font-size: 0.9rem;
  font-weight: 550 !important;
  cursor: pointer;
 }

 nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 1rem;
  margin-left: 0rem;
  color: var(--primary-white) !important;
  border-bottom: 0.15rem solid var(--navbar-grey);
}

.navbar-brand {
  color: var(--primary-yellow) !important;
  font-weight: 800;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 2rem;
  margin-left: 1rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 0.15rem solid var(--primary-green);
  }
  
  .navbar-nav > li > a:hover {
    border-bottom: 0.15rem solid var(--primary-green);
  }
  

