* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 55px; /* height of sticky header */

  
}

.elementor-background-overlay {
  background-color: rgba(255, 255, 255, 0) !important;
}


/************************** COLOURS **************************/
:root {
  --primary-white: #fff;
  --navbar-blue: #080d16;
  --primary-blue: #0b111d;
  --primary-green: #27ae60;
  --primary-yellow: #ffd369;
  --primary-orange: #ff9a00;
  --primary-red: #f05454;
  --primary-grey: #dddddd;
  --bg-grey: #0e1525; 
}


/************************** SCROLL BAR **************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292b2c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #292b2c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27ae60; 
}


/************************** NAVBAR **************************/

nav {
  z-index: 2;
}

.containernav {
}

.navbar-custom { 
  background-color: var(--navbar-blue);
} 

.main-nav {
  background-color: var(--navbar-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-hamburger {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 400 !important;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 1.5rem;
  margin-left: 0rem;
  color: var(--primary-yellow) !important;
  border-bottom: 0.15rem solid var(--navbar-blue);
 }


.navbar-brand {
  color:var(--primary-green) !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 2.5rem;
  margin-left: 0rem !important;
}

.nav-link:active, .nav-link:focus {
  border-bottom: 0.15rem solid var(--primary-green);
  transition: 0.2s ease-in-out;
  color: var(--primary-orange) !important;
  }
  
  .nav-link:hover {
    border-bottom: 0.15rem solid var(--primary-green);
    transition: 0.2s ease-in-out;
  }

/************************** HEADER **************************/

.header-wraper {
  position: relative;
  background-color: var(--navbar-blue);
  background: var(--navbar-blue) url(img3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.main-info h1 {
  color: var(--primary-white);
  font-weight: bolder;
  font-size: 50px;
}

.btn-main-offer {
  border: 1px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 0%;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  display: inline-block;
  margin-left: 6px;
  width: 200px;
  margin-bottom: 0px;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-blue);
  transition: 0.4s ease-in-out;
  color: var(--primary-yellow);
  border: 1px solid var(--primary-yellow);
}

.header-icon {
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 25px;
  color: #e8e8e8;
}

.header-icon:hover{
  color: var(--primary-white);
  transition: 0.5s ease-in-out;
}

.headerdiv {
  height: 200px;
}


.typed-text {
  font-size: 1.75em;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
  }
  .typed-text {
    font-size: 1rem !important;
  }
  }



/************************** ABOUT **************************/


.about {
  /* height: 60vh; */
  background-color: var(--primary-blue);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.about-heading {
    color: var(--primary-yellow);
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
  }

  .about-text {
    color: var(--primary-white);
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 400 !important;
    text-align: center;
    margin-left: 18px;
  }

  

  .experience {
    padding: 0.7rem;
    height: 100vh;
    background-color: var(--bg-grey);
  }

.exp {
  padding: 0;
}
  
  
  .experience-wrapper {
    position: relative;
    /* padding: 3.125rem 0; */
    overflow: hidden;
  }
  
  .about h1 {
    text-transform: uppercase;
    color: var(--primary-yellow);
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background-color: var(--primary-yellow);
    z-index: 1;
  }
  
  .timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  
  .timeline-block-right{
    float: right;
  } 
  
  .timeline-block-left{
    float: left;
    direction: rtl;
  } 
  
  .marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.3125rem solid var(--primary-green);
    background: var(--primary-green);
    margin-top: 0.625rem;
    z-index: 3;
  }
  
  .timeline-content {
    width: 95%;
    padding: 0rem 0.9375rem;
    color: var(--primary-white);
    direction: ltr;
  }
  
  .timeline-content h3 {
    font-weight: 400;
    color: var(--primary-yellow);
  }
  
  .timeline-content p {
    font-size: 1rem;
  }

  
  @media(max-width:768px) {
    .timeline-content p {
      font-size: 0.85rem;
    }
    .about .container{
      padding-left: 0;
      
    }
  
    .experience-wrapper::before {
      left: 0.5rem;
      margin-bottom: 1.875rem;
    }
    .timeline-block-right {
      float: none;
      width: 100%;
    }
    .timeline-block-left {
      float: none;
      direction: ltr;
      width: 100%;
  }
  }

/************************** SKILLS **************************/


.skills {
  text-align: center;
  background: var(--bg-grey);
  padding-bottom: 5rem; 
  margin: 0px !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
  height: 100vh;
}


.skills h1 {
  color: var(--primary-yellow) !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.skills .circle {
  position: absolute;
  border: 0.5px solid var(--primary-green);
  margin: auto auto auto auto;
  background-color: var(--bg-grey);
  /* border-radius: 50%; */
  width: 2.5rem;
  height: 2.5rem;
  
}

.skills .icon {
  font-size: 1.3rem;
  color: var(--primary-green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;

}

.skills .skill {
  text-align: right;
  color: var(--primary-green);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.85rem;
  font-weight: bold;
  padding-top: 0.125rem;
  padding-bottom: 0;
  letter-spacing: 5px;
  
}

.skill-s {
  text-align: right;
  color: #0c341d;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.85rem;
  font-weight: bold;
  padding-top: 0.125rem;
  padding-bottom: 0;
  letter-spacing: 5px;
}


.skills .box {
  height: 4rem;
  width: 15rem;
  border: 0.01rem solid var(--primary-yellow);
  padding: 0.625rem;
  margin: 3.25rem auto;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 0px var(--navbar-blue);
  -moz-box-shadow: 10px 10px 5px 0px var(--navbar-blue); 
box-shadow: 8px 8px 8px 0px black;
  
}

.skill-b {
  height: 210px;
}


.skills .box:hover .icon {
  color: var(--primary-yellow);
}


@media(max-width: 576px) {
  .skills .box {
    width: 9rem;
  }
  .skills .skill {
    font-size: 0.55rem;
  }
  .skill-s {
    font-size: 0.55rem;
  }
  .skills .icon {
    font-size: 1rem;
  }
  .skills .circle{
    height: 2rem;
    width: 2rem;
  }
  .skills .box{
    margin: 1.25rem auto;
  }
  
  }

/************************** PROJECT **************************/

.projects {
  text-align: center;
  background-color: var(--primary-blue);
  padding-bottom: 5rem; 
  margin: 0px !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
  /* height: 100vh; */
}


.projects h1 {
  color: var(--primary-yellow) !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 55px;
}



.projecth3 {
  text-align: right;
  margin-left: 50px;
  color: var(--primary-green);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.85rem;
  padding-top: 0.125rem;
  padding-bottom: 0;
  letter-spacing: 5px;
}

.projecth4 {
  text-align: right;
  margin-left: 0px;
  color: var(--primary-white);
  text-transform: uppercase;
  font-size: 0.85rem;
  padding-top: 0.125rem;
  padding-bottom: 0;
  text-align: center;
}

.projecth5 {
  margin-left: 0px;
  color: var(--primary-white);
  text-transform: uppercase;
  font-size: 0.85rem;
  padding-top: 0.125rem;
  padding-bottom: 0;
  text-align: center;
  text-decoration: none;
}

.projecth5 a {
  color: white;
}

.projecth5 a:hover {
  text-decoration: none;
  color: var(--primary-green)
}


.projects .box {
  height: 20rem;
  width: 30rem;
  /* border: 0.01rem solid var(--primary-yellow); */
  padding: 0.625rem;
  margin: 4rem auto;
  transition: 0.3s ease-in-out;
  border-radius: 0px;
  background: #080d16;
  box-shadow:  5px 5px 0px #030509,
               -5px -5px 0px #0d1523;
}



.ppic {
  width: 20rem;
  height: 10rem;
  border: 1px solid var(--primary-green);
  padding: 10px;
  margin: 20px;
}



@media(max-width: 576px) {
  .projects .box {
    width: 20rem;
  }
  .ppic {
    width: 10rem;
  height: 5rem;
  }
}
  
  




/************************** CONTACT FORM **************************/
.contacts {
  background:var(--bg-grey);
  padding: 3rem 0rem;
}

.contacts h1 {
  color: var(--primary-yellow) !important;
  font-weight: bold;
  padding: 1.3rem 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-yellow);
  font-size: 1.2rem;
  margin-bottom: 5rem;

}

  .contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border-bottom: 0.125rem solid var(--primary-grey);
    border-radius: 0;
    color: var(--primary-yellow);
    outline: 0  !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
  }
  
  .contacts .container {
    padding: 6rem 0;
  }
  
  .contacts input:focus, .contacts textarea:focus{
    background: transparent;
    color: var(--primary-yellow);
    border-bottom: 0.125rem solid var(--primary-white);
  }
  
  .contacts textarea {
    height: 12.22rem !important;
  }
  
  .contact-btn {
    margin: 1rem 0 2rem 0;
    width: 100%;
    background: none;
    border-color: var(--primary-green);
  }
  
  .contacts .row {
    margin: 0;
  }
  
  @media(max-width: 768px){
    .contacts .container {
      padding: 0 1rem;
    }
    .contacts p {
      padding: 0 1rem;
    }
  }
  
  .line {
    position: relative;
    width: 0;
    top: -0.8rem;
    height: 0.125rem;
    background: var(--primary-yellow);
    display: inline-block;
  }
  
  input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  
  input.form-control  {
    margin: -0.3rem 0
  }
  
  textarea.form-control  {
    margin: -0.3rem 0
  }
  
  .error-message {
    color: var(--primary-red);
    text-align: left;
  }
  
  .success-message {
    font-weight: 900;
    color: var(--primary-green)
  }

/************************** FOOTER **************************/

  .footer {
    background: black;
    color: var(--primary-grey);
    padding: 2rem;
  }

 .footer a {
    text-decoration: none;
    color: var(--primary-grey);
  }
  
  .footer a:hover {
    text-decoration: none;
    color: var(--primary-green);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .footer p {
    margin-bottom: 0;
  }